.container{
  display: flex;
  justify-content: center;
}
.forms {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
}
.inputs{
  display: flex;
}
.warning {
  border: solid red 1px;
  border-radius: 0.2em;
}

.danger {
  font-size: 10px;
  color: red;
  margin-left: 10em;
}
